@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-urbanist: var(--font-urbanist, "Urbanist", sans-serif);
  --font-poppins: var(--font-poppins, "Poppins", sans-serif);

  --font-size-h1: 33px;
  --font-size-h2: 24px;
  --font-size-h3: 22px;
  --font-size-body-large: 19px;
  --font-size-body-small: 16px;

  --line-height-h1: 1.2;
  --line-height-h2: 1.3;
  --line-height-h3: 1.3;
  --line-height-body-large: 1.5;
  --line-height-body-small: 1.5;

  --font-weight-h1: 600;
  --font-weight-h2: 500;
  --font-weight-h3: 500;
  --font-weight-body-large: 500;
  --font-weight-body-small: 500;

  --color-main: #FCC638;
  --color-secondary: #FF5B5B;
  --color-tertiary: #F78AFF;
  --color-validate: #2B983F;
  --color-grey-one: #F4F4F4;
  --color-grey-two: #EAEAEF;
  --color-grey-three: #9B9B9B;
  --color-text: #191919;

  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}
.text-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
}

.text-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
}

.text-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-h3);
}

.text-body-large {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  font-weight: var(--font-weight-body-large);
}

.text-body-small {
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  font-weight: var(--font-weight-body-small);
}

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-poppins: "Poppins", sans-serif; 
}


/* :root {
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scroll {
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: #cbd5e1 transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;     /* Épaisseur verticale */
  height: 6px;    /* Épaisseur horizontale */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300, plus clair */
  border-radius: 9999px;     /* Arrondi maximal */
  border: none;              /* Supprime l’espace intérieur */
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* slate-200 au survol (encore plus clair) */
}
